@import url("https://fonts.googleapis.com/css2?family=Abel&family=Architects+Daughter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  color: var(--color-terminal-white);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.input-change-animation {
  animation: fade-in 0.3s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-abel: "Abel", sans-serif;
  --font-architects-daughter: "Architects Daughter", cursive;

  --color-primary: var(--color-terminal-white);
  /* --color-secondary: #17ffb3; */
  --color-secondary: var(--color-redish-pink);

  --color-redish-pink: #ff2975;

  --color-blue-400: #57bcc7;
  --color-terminal-white: #ededea;
  --color-terminal-grey: #393938;
  --color-terminal-black: #252422;
  --color-terminal-black-800: #141413;

  /* Background Colors */
  --color-dark-blue-800: #090b0c;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0.5;
      transform: scale(0.8);
    }
    70% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
